language: java
jdk:
  - openjdk11

addons:
  apt:
    packages:
      - language-pack-fr
env:
  global:
    - LANG=fr_FR.UTF-8
    - LC_ALL=fr_FR.UTF-8

matrix:
  include:
    - os: linux
      dist: bionic
      env:
        - GDAL_VERSION: 2.4.*
        - GDAL_PPA: "ppa:ubuntugis/ppa"
    - os: linux
      dist: bionic
      env:
        - GDAL_VERSION: 3.0.*
        - GDAL_PPA: "ppa:ubuntugis/ubuntugis-unstable"

notifications:
  email: false

before_install:
  - if [ ! -z "${GDAL_PPA}" ]; then sudo add-apt-repository ${GDAL_PPA} -y; fi
  - sudo apt-get -qq update
  - sudo apt-get install -y gdal-bin=${GDAL_VERSION}

install: true

script:
  - ogr2ogr --version
  - ./travis/build-openjdk11.sh

cache:
  directories:
    - $HOME/.m2
