<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

	<Appenders>

		<!-- console outputs -->
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="[%p][%marker] - %m%n" />
		</Console>

		<!-- writes detailed log -->
		<File name="FILE" fileName="validator-debug.log" append="false">
			<PatternLayout charset="UTF-8">
				<Pattern>%d %p %c{1.} [%marker] %m%n</Pattern>
			</PatternLayout>
		</File>

	</Appenders>

	<Loggers>

		<Root level="debug">
			<AppenderRef ref="STDOUT" level="debug" />
			<AppenderRef ref="FILE" level="debug" />
		</Root>

	</Loggers>

</Configuration>

